body{
    background-color:rgb(214, 207, 195);
    padding:30px;
    border:10px;
    border-style:double;
    border-radius: 15px;
    margin:10px;
}

h1,h2,h3,h4{
    color: rgb(83, 150, 169);
}

li{
    color:black;
    font-style: bold;
}

table{
    border-collapse: collapse;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

th,td{
    padding:8px;
    text-align: left;
    border-bottom: 2px solid black;
}

tr:nth-child(even){
    background-color:rgb(155,202,236);
}

input{
    background-color: rgb(155,202,236);
}

.pictureQuotes{
    font-style: italic; color: rgb 12,76,78;
}

#box-model{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgb(155, 202, 236);
    margin-left: auto;
    margin-right: auto;
    width:25%;

}

.box{
    border-style:double;
    border-width:  10px;
    border-radius: 15px;
    background-color:rgb(155, 202, 236) ;
}

.smallbox{
    
    border-style:double;
    border-width:  10px;
    border-radius: 15px;
    background-color:rgb(155, 202, 236);
    margin-left: auto;
    margin-right: auto; 
    width:30%;
}

.centertext{
    text-align: center;
}

.largefont{
    font-size: 60px;
    text-align: center;
}

.largestfont{
    font-size: 2em;
    text-align: center;
    position: relative;
}

.moveright{
    float:right;
}

.moveleft{
    float:left;
}

.center{
    float:center;
}
.pictureabout{
    float:right;
    font-size:60px;
}
.picturaboutleft{
    font-size: 60px;
    float:left;
    
}

.line{
    display: inline;
}
.font60{
    font-size: 60px;
    float:left;
}



